.GameStats {
  list-style-type: none;
  color: rgba(255, 255, 255);
  text-align: left;
  font-size: 4vw;

  @media (min-width: 900px) {
    font-size: 30px;
  }
}

.GameStats li {
  margin-bottom: 10px;
}
